 ***Python Revision***

* **Python is dynamically typed.**
* You do not need to declare variables! The declaration happens automatically when you assign a value to a variable.
* Variables can change type, simply by assigning them a new value of a different type.

**Integer**

* In Python, there is effectively no limit to how long an integer value can be.
* Of course, it is constrained by the amount of memory your system has

In [1]:
print(123123123123123123123123123123123123123123123123 + 1)
print(10)

123123123123123123123123123123123123123123123124
10

* Python interprets a sequence of decimal digits without any prefix to be a decimal number.
* The following strings can be prepended to an integer value to indicate a base other than 10:
* Binary
  * 0b (zero + lowercase letter 'b')
  * 0B (zero + uppercase letter 'B')
* Octal
  * 0o (zero + lowercase letter 'o')
  * 0O (zero + uppercase letter 'O')
* Hexadecimal
  * 0x (zero + lowercase letter 'x')
  * 0X (zero + uppercase letter 'X')


For Example

In [2]:
print(0o10)
print(0x10)
print(0b10)

8
16
2

The underlying type of a Python integer, irrespective of the base used to specify it, is called int:

In [3]:
type(10)
type(0o10)
type(0x10)

int

**Floating-Point Numbers**
* float values are specified with a decimal point.
* Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation

In [4]:
4.2

4.2

In [5]:
type(4.2)

float

In [6]:
.4e7

4000000.0

In [7]:
4.2e-4

0.00042

* the maximum value a floating-point number can have is approximately 1.8 ⨉ 10308.
* Python will indicate a number greater than that by the string inf:

In [8]:
1.79e308

1.79e+308

In [9]:
1.8e308

inf

* The closest a nonzero number can be to zero is approximately 5.0 ⨉ 10-324.
* Anything closer to zero than that is effectively zero:

In [10]:
5e-324

5e-324

In [11]:
1e-325

0.0

**Strings**
* Strings are sequences of character data. The string type in Python is called str.
* String literals may be delimited using either single or double quotes.
* All the characters between the opening delimiter and matching closing delimiter are part of the string:

In [12]:
print("I am a string.")
#type("I am a string.")
print('I am too.')
#''

I am a string.
I am too.

* What if you want to include a quote character as part of the string itself?

In [14]:
print("This string contains a single quote (') character.")

This string contains a single quote (') character.

* the simplest way is to delimit the string with the other type of quote character.
* If a string is to contain a single quote, delimit it with double quotes and vice versa:

In [ ]:
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

**Escape Sequences in Strings**
* A backslash character in a string indicates that one or more characters that follow it should be treated specially.

In [ ]:
print('This string contains a single quote (\') character.')
print("This string contains a double quote (\") character.")

* **Escape Sequences**
* \\'
  * Terminates string with single quote opening delimiter
* \\"
  * Terminates string with double quote opening delimiter
* \\(newline)
  * Terminates input line
* \ \\
  * Introduces escape sequence
* \t
  * insert tab
* \n
  * inserts new line
* \b
  * inserts backspace

In [15]:
print('a\
b\
c')



print('foo\\bar')

print("a\tb")
print("a\nb")
print("a\bb")

abc
foo\bar
a	b
a
b
b

* **Raw Strings**
* A raw string literal is preceded by r or R, which specifies that escape sequences in the associated string are not translated.
* The backslash character is left in the string:

In [16]:
print('foo\nbar')

print(r'foo\nbar')

print('foo\\bar')
print(R'foo\\bar')

foo
bar
foo\nbar
foo\bar
foo\\bar

* **Triple-Quoted Strings**
* Triple-quoted strings are delimited by matching groups of three single quotes or three double quotes.
* Escape sequences still work in triple-quoted strings, but single quotes, double quotes, and newlines can be included without escaping them.

In [17]:
print('''This string has a single (') and a double (") quote.''')
print("""This is a string
that spans across
several lines""")

This string has a single (') and a double (") quote.
This is a string
that spans across
several lines

**Boolean Type**
* Python 3 provides a Boolean data type.
* Objects of Boolean type may have one of two values, True or False:

In [18]:
type(True)

bool

In [19]:
type(False)

bool

**Indentation as a control structure**

* Indentation is used in Python to delimit blocks.
* The number of spaces is variable, but all statements within the same block must be indented the same amount.
* The header line for compound statements, such as if, while, def, and class should be terminated with a colon ( : )

In [20]:
for i in range(20):
    if i%3 == 0:
        print (i)
    if i%5 == 0:
        print ("Bingo!")
    print ("---")

0
Bingo!
---
---
---
3
---
---
Bingo!
---
6
---
---
---
9
---
Bingo!
---
---
12
---
---
---
15
Bingo!
---
---
---
18
---
---

* range(start, stop, step)
* start (optional) – The starting number (default is 0).
* stop (required) – The end of the sequence (exclusive, meaning it is not included).
* step (optional) – The difference between consecutive numbers (default is 1).

In [23]:
for i in range(10, 0, 2):
    print(i)

**Conditional Structure**
* The if statement executes a block of code only if a condition is True.
* The if-else statement executes one block if the condition is True and another block if it is False.
* if-elif-else Statement is used when multiple conditions need to be checked.

In [27]:
marks=49
if marks>50:
    print("pass")
else:
    print("fail")

fail

In [ ]:
x = 0
if x > 0:
    print("Positive number")
elif x < 0:
    print("Negative number")
else:
    print("Zero")

**Iterations**
* while Loop executes a block of code as long as a condition is True.
* for Loop is used to iterate over a sequence (list, tuple, string, range, etc.)

In [28]:
x = 1
while x <= 5:
    print(x)
    x += 1

1
2
3
4
5

In [29]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

**Activity 1:** <br> Let us take an integer from user as input and check whether the given value is even or not.

In [30]:
n=input("Enter a number ")
if int(n)%2==0:
    print("Even Number")
else:
    print("Odd Number")

Enter a number  23

Odd Number

**Activity 2:** <br>Write a Python code to keep accepting integer values from user until 0 is entered. Display sum of the given values.

In [31]:
sum=0
s=input("Enter an integer value..")
n=int(s)
while n!=0:
    sum=sum+n
    s=input("Enter an integer value..")
    n=int(s)
print("Sum of values is: ",sum)

Enter an integer value.. 4
Enter an integer value.. 5
Enter an integer value.. 2
Enter an integer value.. 0

Sum of values is:  11

**Activity 3:** <br> Write a Python code to accept an integer value from user and check that whether the given value is prime number or not.

In [32]:
isprime=True
i=2
n=int(input("enter a number"))
while i<n:
    if n%i==0:
        isprime=False
        break
    else:
        i=i+1

if isprime:
    print("Number is Prime")
else:
    print("Number is Not Prime")

enter a number 67

Number is Prime

**Activity 4:** <br>
Accept 5 integer values from user and display their sum.

In [ ]:
sum=0
i=0
while i<=4:
    s=input("enter a number")
    n=int(s)
    sum=sum+n
    i=i+1

print("sum is:",sum)

**Activity 5:** <br>
Calculate the sum of all the values between 0-10 using while loop.

In [ ]:
sum=0
i=1
while i<=10:
    sum=sum+i
    i=i+1
    
print("sum is", sum)

**Activity 6:**
Take input from the keyboard and use it in your program.

In [ ]:
name = input('What is your name? ')
print('Hello ' + name)
job = input('What is your job? ')
print('Your job is ' + job)
num = input('Give me a number? ')
print('You said: ' + str(num))

**Activity 7**
Generate a random number between 1 and 9 (including 1 and 9). Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right. (Hint: remember to use the user input lessons from the very first exercise)
Extras:
Keep the game going until the user types “exit”
Keep track of how many guesses the user has taken, and when the game ends, print this out.

In [ ]:
import random

number_to_guess = random.randint(1, 9)
guess_count = 0

while True:
    user_guess = input("Guess the number between 1 and 9 (or type 'exit' to quit): ")
    
    if user_guess.lower() == 'exit':
        break
    
    guess_count += 1
    user_guess = int(user_guess)
    
    if user_guess < number_to_guess:
        print("Too low!")
    elif user_guess > number_to_guess:
        print("Too high!")
    else:
        print("Exactly right!")
        break

print(f"You took {guess_count} guesses.")

In [ ]:
import random
# Awroken
MINIMUM = 1
MAXIMUM = 9
NUMBER = random.randint(MINIMUM, MAXIMUM)
GUESS = None
ANOTHER = None
TRY = 0
RUNNING = True
print "Alright..."
while RUNNING:
    GUESS = raw_input("What is your lucky number? ")
    if int(GUESS) < NUMBER:
        print "Wrong, too low."
    elif int(GUESS) > NUMBER:
        print "Wrong, too high."
    elif GUESS.lower() == "exit":
        print "Better luck next time."
    elif int(GUESS) == NUMBER:
        print "Yes, that's the one, %s." % str(NUMBER)
        if TRY < 2:
            print "Impressive, only %s tries." % str(TRY)
        elif TRY > 2 and TRY < 10:
            print "Pretty good, %s tries." % str(TRY)
        else:
            print "Bad, %s tries." % str(TRY)
        RUNNING = False
    TRY += 1

**Graded Tasks/Activities**

**Lab Task 1:** <br>
Write a program that prompts the user to input an integer and then outputs the number with the digits reversed.<br>For example, if the input is 12345, the output should be 54321.

In [ ]:
num = int(input("Enter an integer: "))
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num = num // 10

print("Reversed number:", reversed_num)

**Lab Task 2:** <br>
Write a program that reads a set of 10 integers, and then prints the sum of the even and odd integers.

In [ ]:
even_sum = 0
odd_sum = 0

for _ in range(10):
    num = int(input("Enter an integer: "))
    if num % 2 == 0:
        even_sum += num
    else:
        odd_sum += num

print("Sum of even integers:", even_sum)
print("Sum of odd integers:", odd_sum)

**Lab Task 3** <br>
Fibonacci series is that when you add the previous two numbers the next number is formed. You have to start from 0 and 1. E.g. 0+1=1 → 1+1=2 → 1+2=3 → 2+3=5 → 3+5=8 → 5+8=13
So the series becomes 0 1 1 2 3 5 8 13 21 34 55 ……………………………………
Steps: You have to take an input number that shows how many terms to be displayed. Then use loops for displaying the Fibonacci series up to that term e.g. input no is =6 the output should be 0 1 1 2 3 5

In [ ]:
terms = int(input("Enter the number of terms: "))
a, b = 0, 1
count = 0

if terms <= 0:
    print("Please enter a positive integer")
elif terms == 1:
    print("Fibonacci sequence up to", terms, ":")
    print(a)
else:
    print("Fibonacci sequence:")
    while count < terms:
        print(a, end=" ")
        nth = a + b
        a = b
        b = nth
        count += 1

**Lab Task 4:** <br>
Write a Python code to accept marks of a student from 1-100 and display the grade according to the following formula.<br>
Grade F if marks are less than 50<br>Grade E if marks are between 50 to 60<br>Grade D if marks are between 61 to 70<br>Grade C if marks are between 71 to 80<br>Grade B if marks are between 81 to 90<br>Grade A if marks are between 91 to 100

In [ ]:
marks = int(input("Enter marks (1-100): "))

if marks < 50:
    grade = 'F'
elif 50 <= marks <= 60:
    grade = 'E'
elif 61 <= marks <= 70:
    grade = 'D'
elif 71 <= marks <= 80:
    grade = 'C'
elif 81 <= marks <= 90:
    grade = 'B'
elif 91 <= marks <= 100:
    grade = 'A'
else:
    grade = 'Invalid marks'

print(f"The grade is: {grade}")

**Lab Task 5:** <br> 
Write a program that takes a number from user and calculate the factorial of that number.

In [ ]:
num = int(input("Enter a number: "))
factorial = 1

if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}")